<header class="page-header">
  <a href="http://justinjaywang.com">
    <!-- <%= config.title %> -->
    <span class="page-title">justinjaywang</span>
    
    <!-- <img class="page-header-avatar" src="https://dl.dropboxusercontent.com/u/4291520/homepage/justinwang.gif"> -->
    <!-- <img class="page-header-avatar" src="<%- gravatar('justinjaywang@gmail.com') %>"> -->
  </a>
</header>
