<header class="page-header">
  <h1 class="page-title">
    <!-- <%= config.title %> -->
    logos by <a href="http://justinjaywang.com">justinjaywang</a>
    
    <!-- <img class="page-header-avatar" src="https://dl.dropboxusercontent.com/u/4291520/homepage/justinwang.gif"> -->
    <!-- <img class="page-header-avatar" src="<%- gravatar('justinjaywang@gmail.com') %>"> -->
  </h1>
</header>
