// base
// * {
//   .box-sizing(border-box);
// }
// *:before,
// *:after {
//   .box-sizing(border-box);
// }

// images
img {
  .img-responsive();
}

// temp
.postPreview {
  // float: left;
  background: rgba(255,0,0,0.3);
}
.postPreview-image {
  // opacity: 0.5;
  // height: 220px;
  width: 240px;
  // max-height: 300px;
}
.postPreview.wide .postPreview-image {
  width: 500px;
}
