<main class="page-main page-main--index">
  <% var posts = site.posts.find({public: 1}).sort('date', -1); %>
  <% page.posts.each(function(post){ %>
    <%- partial('_partials/postPreview', {post: post}) %>
  <% }) %>
</main>
